<app-navbar-alumno></app-navbar-alumno>

<div class="course-container" *ngFor="let curso of cursos">
  <div class="course-header">
    <a href="/cursos-alumnos" class="back-button">
      <i class="fa-solid fa-arrow-left icono-negro"></i>
      Regresar
    </a>
    <strong class="course-title">{{ curso.titulo }}</strong>
    <button class="enroll-btn">Inscribirme</button>
  </div>

  <div class="course-details">
    <div class="course-body">
      <div class="course-description">
        <p><strong>{{ curso.descripcion }}</strong></p>
        <p><strong>Instructor:</strong> {{ curso.instructor }}</p>
      </div>
      <div class="course-image">
        <img [src]="curso.imagen" alt="Imagen del curso">
      </div>
    </div>
  </div>
</div>
