body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  color: #2F4F4F;
  height: 100%;
  overflow: hidden;
}



.course-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #ffffff;
  padding: 15px 20px;
  border-radius: 10px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  margin: 20px;
}


.back-button {
  display: flex;
  align-items: center;
  color: #2F4F4F;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.back-button i {
  margin-right: 8px;
}


.course-title {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  flex-grow: 1;
}


.enroll-btn {
  background-color: #dbdfde;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.enroll-btn {
  background-color: #6FA69F;
}

.course-details {
  display: flex;
  justify-content: center;
}

.course-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  max-width: 1100px;
  flex-wrap: wrap;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

.icono-negro {
  color: black;
}

.course-description {
  width: 40%;
  font-size: 18px;
  font-weight: bold;
  background: #BCEAD5;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.course-image {
  max-width: 55%;
  width: 70%;
}

.course-image img {
  width: 100%;
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}


@media (max-width: 768px) {
  .course-body {
    flex-direction: column;
    align-items: center;
  }

  .course-description, .course-image {
    width: 90%;
    text-align: center;
  }

  .course-header {
    flex-direction: column;
    text-align: center;
    gap: 10px;
  }

  .enroll-btn {
    width: 100%;
    max-width: 200px;
  }
}
