.container {
    display: flex;
    gap: 20px;
  }
  
  .section {
    flex: 1;
    padding: 10px;
  }
  
  h2 {
    text-align: left;
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: bold;
    color: #333;
  }
  
  .card-container {
    display: flex;
    justify-content: space-around;
    gap: 15px;
    flex-wrap: wrap; /* Permite que las tarjetas se acomoden mejor en pantallas pequeñas */
  }
  
  .card {
    flex: 1;
    max-width: 280px; 
    padding: 15px;
    border-radius: 12px;
    margin: 8px;
    background: linear-gradient(135deg, #BCEAD5, #9ED5C5);
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    border-left: 5px solid #8EC3B0;
  }
  
  /* Efecto hover */
  .card:hover {
    transform: scale(1.05);
    box-shadow: 6px 6px 16px rgba(0, 0, 0, 0.15);
  }
  
  /* Estilos de texto dentro de la tarjeta */
  .card p {
    font-size: 16px;
    margin: 6px 0;
    color: #333;
    line-height: 1.4;
  }
  
  .card strong {
    color: #055052;
  }
  
  /* Responsive: para pantallas pequeñas */
  @media (max-width: 768px) {
    .container {
      flex-direction: column;
    }
  
    .card-container {
      flex-direction: column;
      align-items: center;
    }
  
    .card {
      width: 90%;
      max-width: 320px;
    }
  }
  

  /*  ===== FILTROS ===== */

  .filters {
    display: flex;
    justify-content: flex-end; /* Mueve los filtros a la derecha */
    gap: 10px; /* Espaciado entre elementos */
    padding: 10px;
  }
  
  .filters input,
  .filters select {
    padding: 8px 12px;
    border: 2px solid #8EC3B0;
    border-radius: 8px;
    font-size: 1rem;
    background-color: #FFFF;
    color: #333;
    transition: all 0.3s ease-in-out;
  }
  
  .filters input::placeholder {
    color: #555;
  }
  
  .filters select {
    cursor: pointer;
  }
  
  /* Efecto hover */
  .filters input:hover,
  .filters select:hover {
    background-color: #9ED5C5;
    border-color: #9ED5C5;
    transform: scale(1.05);
  }
  
  /* Responsive: Para móviles, que se apilen */
  @media (max-width: 768px) {
    .filters {
      flex-direction: column;
      align-items: flex-end;
    }
  
    .filters input,
    .filters select {
      width: 100%;
    }
  }
  



  