<div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="login-container text-center">
        <h2>Bienvenido a Finner</h2>
        <form>
            <div class="mb-3">
                <input type="text" class="form-control" placeholder="Usuario o Correo Electrónico">
            </div>
            <div class="mb-3">
                <input type="password" class="form-control" placeholder="Contraseña">
            </div>
            <div class="mb-3 text-center">
                <a href="#" class="forgot-password">¿Olvidaste tu contraseña?</a>
            </div>
            <button type="submit" class="btn btn-login w-100">Iniciar Sesión</button>
        </form>
        <div class="social-login mt-3">
            <button class="btn btn-google w-100">Continuar con Google</button>
        </div>
        <div class="mt-3 text-center">
            <p class="register-text">¿No tienes una cuenta? <a href="#" class="register-link">Regístrate</a></p>
        </div>
    </div>
</div>