<app-navbar-alumno></app-navbar-alumno>
<!-- Filtros -->
<div class="filters-container">
  <div class="filter">
    <input type="text" placeholder="Buscar por nombre" [(ngModel)]="nombreCurso"
      (input)="onNombreCursoChange($event)">
  </div>

  <div class="filter">
    <select [(ngModel)]="categoriaSeleccionada" (change)="onCategoriaChange($event)">
      <option value="">Filtrar por categoría</option>
      <option value="programacion">Programación</option>
      <option value="diseño">Diseño</option>
      <option value="marketing">Marketing</option>
    </select>
  </div>

  <main class="courses-container">
<main class="courses-container">
  <div *ngIf="cursosFiltrados.length === 0" class="no-courses">
    <p>No se encontraron cursos con esos filtros.</p>
  </div>

  <div *ngFor="let curso of cursosFiltrados" class="course-card">
    <h3>{{ curso.tituloCurso }}</h3>
    <p>{{ curso.descripcion }}</p>
    <p class="category">{{ curso.nombreCategoria }}</p>
    <div class="buttons-container">
      <button (click)="accederCurso(curso)">Acceder</button>
      <button [routerLink]="['/descripcion', curso.id]">Ver detalles</button>
    </div>
  </div>
</main>
