    <!-- Cabecera -->
    <header class="header">
      <div class="logo">
          <img src="assets/logo.png" alt="Logotipo"> FINER
      </div>
      <div class="user-info" (click)="toggleMenu()">
          <span class="role">Instructor</span>
          <img src="assets/useri.png" alt="Foto de perfil" class="profile-pic">
          <span class="user-name">{{ usuario.nombre }} {{ usuario.apellidoPaterno }} {{ usuario.apellidoMaterno }}</span>
      </div>
      <img src="assets/salir.png" alt="Salir" class="logout-icon" (click)="logout()"> 
  </header>

  <!-- Menú Desplegable -->
  <div class="dropdown-menu" [class.show]="menuOpen">
      <ul>
          <li class="menu-section">Cursos</li>
          <li class="menu-item" [class.active]="currentPage === 'cursos'" (click)="navigateTo('cursos')">Mis Cursos</li>
          <li class="menu-item" [class.active]="currentPage === 'crear-curso'" (click)="createCourse()">Crear Curso</li>
          <li class="menu-item" [class.active]="currentPage === 'perfil'" (click)="perfil()">Mi perfil</li>
      </ul>
  </div>