/* Cabecera */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFFFF;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 1000;
}

.logo {
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    color: #2C3E50;
}

.logo img {
    max-height: 40px;
    margin-right: 10px;
}

.user-info {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 10px;
    border-radius: 25px;
    transition: background-color 0.3s ease;
    margin-left: auto;
}

.user-info:hover {
    background-color: #F0F7F4;
}

.profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    border: 2px solid #8EC3B0;
}

.role, .user-name {
    margin-right: 10px;
}

.logout-icon {
    cursor: pointer;
    width: 20px;
    height: 20px;
    transition: opacity 0.3s ease;
    margin-left: 10px;
}

.logout-icon:hover {
    opacity: 0.8;
}

/* Menú desplegable */
.dropdown-menu {
    position: absolute;
    top: 80px;
    right: 20px;
    background-color: #FFFFFF;
    border: 1px solid #9ED5C5;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: none;
    padding: 10px;
    width: 250px;
    z-index: 1000;
}

.dropdown-menu.show {
    display: block;
}

.dropdown-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu-section {
    font-weight: bold;
    padding: 10px 0;
    color: #2C3E50;
    border-bottom: 1px solid #9ED5C5;
    margin-bottom: 10px;
}

.menu-item {
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.menu-item:hover {
    background-color: #9ED5C5;
    color: #FFFFFF;
}

.menu-item.active {
    background-color: #8EC3B0;
    color: #FFFFFF;
}

.logout-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 24px; /* Tamaño del icono */
    color: #333; /* Color del icono */
  }
  
  .logout-button:hover {
    color: #055052; /* Color del icono al pasar el mouse */
  }
  


