<!-- Cabecera -->
<header class="header">
  <div class="logo">
    <img src="assets/logo.png" alt="Logotipo de FINER"> FINER
  </div>
  
  <div class="user-info" (click)="toggleMenu()" aria-label="Usuario">
    <span class="role">Instructor</span>
    <img src="assets/useri.png" alt="Foto de perfil de usuario" class="profile-pic">
    <span class="user-name">{{ usuario.nombre }} {{ usuario.apellidoPaterno }} {{ usuario.apellidoMaterno }}</span>
  </div>

  <!-- Botón de salida con Material Icon -->
  <button class="logout-button" (click)="logout()" aria-label="Cerrar sesión">
    <span class="material-icons">exit_to_app</span> <!-- Icono de salida -->
  </button>
</header>

<!-- Menú Desplegable -->
<div class="dropdown-menu" [ngClass]="{'show': menuOpen}" role="menu" aria-label="Menú de navegación">
  <ul>
    <li class="menu-section">Cursos</li>
    <li class="menu-item" [ngClass]="{'active': currentPage === 'cursos'}" (click)="navigateTo('cursos')" role="menuitem">Mis Cursos</li>
    <li class="menu-item" [ngClass]="{'active': currentPage === 'crear-curso'}" (click)="createCourse()" role="menuitem">Crear Curso</li>
    <li class="menu-item" [ngClass]="{'active': currentPage === 'perfil'}" (click)="perfil()" role="menuitem">Mi perfil</li>
  </ul>
</div>
